* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(0, 3%, 34%, 0.406);
}

header h1 {
  font-size: 24px;
  color: hsla(0, 54%, 54%, 0.777);
}

#search {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.search-icon {
  padding: 8px;
  border-radius: 10px;
  border: none;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

}

.img {
  width: 100%;
  height: 30vh;

}

.movieTitle {
  color: hsla(0, 0%, 92%, 0.882);
  margin-left: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


.ratingdisplay {
  padding: 10px;
  font-size: 1.3rem;
  align-items: center;
  color: red;
}

.genreDisplay {
  color: hsla(54, 80%, 52%, 0.869);
}

.movieInfo {
  color: rgba(42, 42, 123, 0.684);
  font-style: italic;
  font-weight: bold;
}

.plotDisplay {
  font-style: italic;
  text-align: center;
  color: rgba(109, 213, 109, 0.68);
}